.v0a30 {
  font-weight: 700;
  color: red;

  text-decoration: line-through;
}

.v31a60 {
  font-weight: 700;
  color: yellow;
}

.v61a90 {
  font-weight: 700;
  color: green;
}

.vmaior90 {
  font-weight: 700;
  color: blue;
}

:host ::ng-deep .row-status {
  background-color: rgba(235, 72, 72, 0.15) !important;
}

:host .formulario {
  width: 150%;
}

:host {
  .field{
    padding-bottom: 10px;

    .label {
      padding-bottom: 10px;
      color: blue;
    }

    .input {
      width: 100%;
    }
    .textarea {
      width: 100%;
    }

  }

}

