<div class="layout-topbar">

  <p-button #menubutton class="p-link layout-menu-button layout-topbar-button"
    icon="pi pi-bars"
    [rounded]="true"
    severity="secondary"
    aria-label="Menu"
    aria-expanded="false" [pTooltip]="tooltipmenu"  tooltipPosition="bottom" >
  </p-button>
  <ng-template #tooltipmenu>
    <div class="flex align-items-center">
        <span> <b>Menu</b>. </span>
    </div>
  </ng-template>

  <h1><Strong>WebGES</Strong></h1>

  <div #topbarmenu class="layout-topbar-menu" role="navigation" aria-label="Topbar Menu">

    <p-button class="p-link layout-topbar-button" (click)="abrirTelaPerfil()"
      icon="pi pi-user"
      [rounded]="true"
      severity="secondary"
      aria-label="Perfil"
      aria-expanded="false" [pTooltip]="tooltipperfil"  tooltipPosition="bottom" >
      <span>Perfil</span>
    </p-button>
    <ng-template #tooltipperfil>
      <div class="flex align-items-center" >
          <span> <b>Perfil</b>. </span>
      </div>
    </ng-template>

    <p-button class="p-link layout-topbar-button" (click)="abrirTelaConfig()"
      icon="pi pi-cog"
      [rounded]="true"
      severity="secondary"
      aria-label="Configurações"
      aria-expanded="false" [pTooltip]="tooltipconfig"  tooltipPosition="bottom" >
      <span>Configurações</span>
    </p-button>
    <ng-template #tooltipconfig>
      <div class="flex align-items-center">
          <span> <b>Configurações</b>. </span>
      </div>
    </ng-template>

    <p-button class="p-link layout-topbar-button" (click)="deslogar()"
      icon="pi pi-sign-out"
      [rounded]="true"
      severity="secondary"
      aria-label="Sair"
      aria-expanded="false" [pTooltip]="tooltipsair"  tooltipPosition="bottom" >
      <span>Sair</span>
    </p-button>
    <ng-template #tooltipsair>
      <div class="flex align-items-center">
          <span> <b>Sair</b>. </span>
      </div>
    </ng-template>

  </div>

</div>


<div class="container">

  <div class="card-R">
    <div class="card-R">
      <p class="m-0">
        <p-badge value={{vigencia0a30}} badgeSize="large" severity="danger"/>
      </p>
      <p-divider align="left" type="solid">
        <b style="background-color: white; color: black;">em 30 dias</b>
      </p-divider>
    </div>

    <div class="card-R">
      <p class="m-0">
        <p-badge value={{vigencia31a60}} badgeSize="large" severity="warning"/>
      </p>
      <p-divider align="left" type="solid">
        <b style="background-color: white; color: black;">em 60 dias</b>
      </p-divider>
    </div>

    <div class="card-R">
      <p class="m-0">
        <p-badge value={{vigencia61a90}} badgeSize="large" severity="success"/>
      </p>
      <p-divider align="left" type="solid">
        <b style="background-color: white; color: black;">em 90 dias</b>
      </p-divider>
    </div>

    <div class="card-R">
      <p class="m-0">
        <p-badge value={{vigenciamaior90}} badgeSize="large" severity="info"/>
      </p>
        <p-divider align="left" type="solid">
        <b style="background-color: white; color: black;">superior a 90 dias</b>
      </p-divider>
    </div>
  </div>

  <h1><Strong>Boas vindas</Strong>, ao Sistema de Gestão Eletrônica de Serviços!</h1>
  <h3> Aqui, você pode controlar a vigência dos seus serviços de forma eficaz. </h3>

  <div class="card flex flex-wrap justify-content-center gap-2">

    <p-sidebar [(visible)]="painelinfo" position="right">
      <h3>Painel Informativo</h3>

      <p>Total de Serviços: <p-badge value={{ativos+inativos}} severity="contrast"/></p>

      <p-divider align="left" type="solid">
        <b>Ativos</b>
      </p-divider>
      <p class="m-0">
        <p-badge value={{ativos}} severity="contrast"/>
      </p>

      <p-divider align="left" type="solid">
        <b>Inativos</b>
      </p-divider>
      <p class="m-0">
        <p-badge value={{inativos}} severity="contrast"/>
      </p>

      <h3>themas</h3>
      <p-divider align="left" type="solid">
        <b>Saga-blue</b>
      </p-divider>

      </p-sidebar>

    <p-button
    icon="pi pi-th-large"
    class="floating-button mr-2"
    (onClick)="painelinfo = true"
    [pTooltip]="tooltipContent"/>
    <ng-template #tooltipContent>
        <div class="flex align-items-center">
            <span> <b>Painel</b> informativo. </span>
        </div>
    </ng-template>

  </div>

  <p-toast />

  <div class="card-C">

    <p-table #dt  [value]="postags"
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10, 20, 30]"
      [globalFilterFields]="['status', 'Id', 'descricao', 'categoria', 'vigencia', 'Diasvigencia', 'created_at', 'updated_at']"
      [(selection)]="selectedTags"
      [rowHover]="true"
      dataKey="iDTag"
      currentPageReportTemplate="Exibindo {first} a {last} de {totalRecords} registros"
      [showCurrentPageReport]="true"
      >

      <ng-template pTemplate="caption">

        <div class="flex align-items-center justify-content-between">

            <p-toolbar styleClass="mb-4 gap-4">

              <ng-template pTemplate="left">
                <div>
                  <p-button
                      severity="success"
                      label="Novo"
                      [rounded]="true"
                      icon="pi pi-plus"
                      class="mr-2"
                      (onClick)="btnNew()"
                      />
                </div>
                <div>
                <p-button
                      severity="danger"
                      label="Excluir"
                      [rounded]="true"
                      icon="pi pi-trash"
                      (onClick)="btndeleteSelected()"
                      [disabled]="!selectedTags || !selectedTags.length"
                      />
                </div>
              </ng-template>
            </p-toolbar>

            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                  pInputText
                  type="text"
                  class="p-inputtext-lg custom-input"
                  (input)="filterGlobal($event)"
                  placeholder="Procurar..." />
            </span>

        </div>
      </ng-template>

      <ng-template pTemplate="header">
          <tr>
              <th style="width: 4rem; background-color: black; color: #fff;">
                <p-tableHeaderCheckbox />
              </th>
              <th pSortableColumn="status"       style="min-width:7rem; background-color: black; color: #fff;">Status <p-sortIcon field="status" /> </th>
              <th pSortableColumn="iDTag"        style="min-width:5rem; background-color: black; color: #fff;">Id <p-sortIcon field="iDTag" /> </th>
              <th pSortableColumn="descricao"    style="min-width:15rem; background-color: black; color: #fff;">Descrição <p-sortIcon field="descricao" /> </th>
              <th pSortableColumn="categoria"    style="min-width:15rem; background-color: black; color: #fff;">Categoria <p-sortIcon field="categoria" /> </th>
              <th pSortableColumn="vigencia"     style="min-width:15rem; background-color: black; color: #fff;">Expira em <p-sortIcon field="vigencia" /> </th>
              <th pSortableColumn="Diasvigencia" style="min-width:15rem; background-color: black; color: #fff;">Dias de Vigencia <p-sortIcon field="Diasvigencia" /></th>
              <th pSortableColumn="created_at"   style="min-width:15rem; background-color: black; color: #fff;">Criado em <p-sortIcon field="created_at" /></th>
              <th pSortableColumn="updated_at"   style="min-width:15rem; background-color: black; color: #fff;">Ultima atualização <p-sortIcon field="updated_at" /></th>
              <th style="background-color: black; color: #fff;"></th>
              <th style="background-color: black; color: #fff;"></th>
              <th style="background-color: black; color: #fff;"></th>
           </tr>
      </ng-template>

      <ng-template pTemplate="body" let-postags>

          <tr [ngClass]="{'row-status': postags.status === 0}">
              <td>
                <p-tableCheckbox [value]="postags" />
              </td>
              <td>
                <p-tag
                [value]=""
                [rounded]="true"
                [severity]="getTagStatus(postags.status)"
               />
               </td>
              <td>{{ postags.iDTag }}</td>
              <td>{{ postags.descricao }}</td>
              <td>{{ postags.categoria }}</td>
              <td>{{ postags.vigencia }}</td>
              <td>
                <p-tag
                  [value]="postags.Diasvigencia"
                  [rounded]="true"
                  [severity]="getTagVigencia(postags.Diasvigencia)"
                 />
              </td>
              <td>{{ postags.created_at}}</td>
              <td>{{ postags.updated_at}}</td>

              <td>
                <p-button
                    icon="pi pi-eye"
                    class="mr-2"
                    [rounded]="true"
                    [outlined]="true"
                    severity="info"
                    (onClick)="btnViewer(postags.iDTag)"
                     />
              </td>

              <td>
                <p-button
                    icon="pi pi-pencil"
                    class="mr-2"
                    [rounded]="true"
                    [outlined]="true"
                    severity="success"
                    (onClick)="btnEdit(postags.iDTag)"
                     />
              </td>
              <td>
                <p-button
                    icon="pi pi-trash"
                    severity="danger"
                    [rounded]="true"
                    [outlined]="true"
                    (onClick)="btnDelete(postags.iDTag)"
                     />
              </td>
          </tr>
      </ng-template>

      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          Total de {{ postags ? postags.length : 0 }} registros.
        </div>
    </ng-template>

    </p-table>

  </div>

  <p-dialog
        [(visible)]="tagDialog"
        [style]="{ width: '850px' }"
        [header]="this.operacaoMode ==='v' ? 'VISUALIZAR' : this.operacaoMode === 'i' ? 'NOVO' : this.operacaoMode === 'e' ? 'EDITAR' : 'operacao invalida !'"
        [modal]="true"
        styleClass="p-fluid">
            <ng-template pTemplate="content">

              <p-card styleClass="formulario" class="card-frm" [ngClass]="{'disabled-card': isDisabled}">

                <form [formGroup]="registroCorrente" novalidate>

                  <div class="frmrow">

                    <div class="frmcols">

                      <div class="field">
                        <label for="descricao" class="block">Descrição do Serviço</label>
                        <input type="text" pInputText
                          placeholder="Desrição do Serviço"
                          id="descricao"
                          name="descricao"
                          formControlName="descricao" required
                          />
                         <small class="p-error block" *ngIf=" registroCorrente.get('descricao')?.invalid && registroCorrente.get('descricao')?.dirty">
                         Preenchimento Obrigatório.</small>
                      </div>

                      <div class="field">
                        <label for="categoria" class="block">Categoria</label>
                        <span class="ui-float-label">
                        <p-dropdown [options]="optCategoria"
                          placeholder="Categoria do Serviço"
                          id="categoria"
                          name="categoria"
                          formControlName="categoria"
                          [style]="{'width':'100%'}" [required]="true"></p-dropdown>
                          <small class="p-error block" *ngIf=" registroCorrente.get('categoria')?.invalid && registroCorrente.get('categoria')?.dirty">
                            Preenchimento Obrigatório.</small>
                        </span>
                      </div>

                      <div class="field">
                        <label for="categoria" class="block">Status</label>
                        <span class="ui-float-label">
                        <p-dropdown [options]="optStatus"
                          placeholder="Status do Serviço"
                          id="status"
                          name="status"
                          formControlName="status"
                          [style]="{'width':'100%'}" [required]="true"></p-dropdown>
                        </span>
                      </div>

                      <div class="field">
                        <label for="infor" class="block">Informações</label>
                        <textarea type="textarea" [rows]="25" [cols]="50" pInputTextarea
                          placeholder="Detalhes do Serviço"
                          id="infor"
                          name="infor"
                          (reset)="false"
                          formControlName="infor" required
                          ></textarea>
                        <small class="p-error block" *ngIf=" registroCorrente.get('infor')?.invalid && registroCorrente.get('infor')?.dirty">
                          Preenchimento Obrigatório.</small>
                      </div>

                    </div>

                    <div class="frmcols">
                      <div class="field">
                        <label for="vigencica" class="block">Vigência</label>
                        <span class="ui-float-label">
                        <p-calendar
                          id="vigencia"
                          name="vigencia"
                          dateFormat="YYYY-MM-DD"
                          [required]="true"
                          [inline]="true"
                          formControlName="vigencia"
                          [showIcon]="true"
                          [minDate]="minDate" />
                        </span>
                      </div>
                    </div>

                  </div>

                </form>

              </p-card>

            </ng-template>

            <ng-template pTemplate="footer">
              <p-button
                  label="Cancelar"
                  icon="pi pi-times"
                  [text]="true"
                  (onClick)="hideDialog()" />
              <p-button
                  label="Confirmar"
                  icon="pi pi-check"
                  [text]="true"
                  (onClick)="btnConfirmar()" />
            </ng-template>

  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }">



