<div class="layout-topbar">

  <!--
  <a class="layout-topbar-logo" routerLink="">
      <img src="assets/geslogo.jpeg" width="50px" alt="logo">
      <span>WebGES</span>
  </a>

  <button #menubutton class="p-link layout-menu-button layout-topbar-button" >
      <i class="pi pi-bars"></i>
  </button>

  <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button">
      <i class="pi pi-ellipsis-v"></i>
  </button>
  -->

  <button #menubutton class="p-link layout-menu-button layout-topbar-button" >
    <i class="pi pi-bars"></i>
  </button>

  <div class="p-toolbar-group-center">
    <h1>Gestão Eletrônica de Serviços</h1>
  </div>

  <div #topbarmenu class="layout-topbar-menu">
      <button class="p-link layout-topbar-button">
          <i class="pi pi-user"></i>
          <span>Profile</span>
      </button>
      <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
          <i class="pi pi-cog"></i>
          <span>Settings</span>
      </button>
  </div>
</div>



<div class="container">

  <p-toast />

  <div class="card-R flex justify-content-center">

    <div class="graf">
      <p-knob [(ngModel)]="ativos" [readonly]="true" valueColor="SlateGray" rangeColor="MediumTurquoise" />
      <span>ativos</span>
    </div>

    <div class="graf">
      <p-knob [(ngModel)]="vigencia0a30" [readonly]="true" valueColor="SlateGray" rangeColor="MediumTurquoise" />
      <span>até 30 dias</span>
    </div>

    <div class="graf">
      <p-knob [(ngModel)]="vigencia31a60" [readonly]="true" valueColor="SlateGray" rangeColor="MediumTurquoise" />
      <span>31 até 60 dias</span>
    </div>

    <div class="graf">
      <p-knob [(ngModel)]="vigencia61a90" [readonly]="true" valueColor="SlateGray" rangeColor="MediumTurquoise" />
      <span>61 até 90 dias</span>
    </div>

    <div class="graf">
      <p-knob [(ngModel)]="vigenciamaior90" [readonly]="true" valueColor="SlateGray" rangeColor="MediumTurquoise" />
      <span> maior que 90 dias</span>
    </div>

    <div class="graf">
      <p-knob [(ngModel)]="inativos" [readonly]="true" valueColor="SlateGray" rangeColor="MediumTurquoise" />
      <span> inativos</span>
    </div>

  </div>

  <div class="card-C">

    <p-toolbar styleClass="mb-4 gap-2">
      <ng-template pTemplate="left">
        <div>
          <p-button
              severity="success"
              label="Novo"
              [rounded]="true"
              icon="pi pi-plus"
              class="mr-2"
              (onClick)="btnNew()"
              />
        </div>
        <div>
        <p-button
              severity="danger"
              label="Excluir"
              [rounded]="true"
              icon="pi pi-trash"
              (onClick)="btndeleteSelected()"
              [disabled]="!selectedTags || !selectedTags.length"
              />
        </div>
      </ng-template>
    </p-toolbar>


    <p-table #dt  [value]="postags"
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [rows]="6"
      [rowsPerPageOptions]="[6, 18, 36]"
      [globalFilterFields]="['status', 'Id', 'descricao', 'categoria', 'vigencia', 'Diasvigencia', 'created_at', 'updated_at']"
      [(selection)]="selectedTags"
      [rowHover]="true"
      dataKey="iDTag"
      currentPageReportTemplate="Exibindo {first} a {last} de {totalRecords} registros"
      [showCurrentPageReport]="true"
      >

      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h2 class="m-0">Boas-vindas ao Controle de Vigências e Renovações</h2>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                    pInputText
                    type="text"
                    (input)="filterGlobal($event)"
                    placeholder="Procurar..." />
            </span>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
          <tr>
              <th style="width: 4rem">
                <p-tableHeaderCheckbox />
              </th>
              <th pSortableColumn="status"       style="min-width:7rem">Status <p-sortIcon field="status" /> </th>
              <th pSortableColumn="iDTag"        style="min-width:5rem">Id <p-sortIcon field="iDTag" /> </th>
              <th pSortableColumn="descricao"    style="min-width:15rem">Descrição <p-sortIcon field="descricao" /> </th>
              <th pSortableColumn="categoria"    style="min-width:15rem">Categoria <p-sortIcon field="categoria" /> </th>
              <th pSortableColumn="vigencia"     style="min-width:15rem">Expira em <p-sortIcon field="vigencia" /> </th>
              <th pSortableColumn="Diasvigencia" style="min-width:15rem">Dias de Vigencia <p-sortIcon field="Diasvigencia" /></th>
              <th pSortableColumn="created_at"   style="min-width:15rem">Criado em <p-sortIcon field="created_at" /></th>
              <th pSortableColumn="updated_at"   style="min-width:15rem">Ultima atualização <p-sortIcon field="updated_at" /></th>
              <th></th>
              <th></th>
              <th></th>
           </tr>
      </ng-template>

      <ng-template pTemplate="body" let-postags>

          <tr [ngClass]="{'row-status': postags.status === 0}">
              <td>
                <p-tableCheckbox [value]="postags" />
              </td>
              <td>
                <p-tag
                [value]=""
                [rounded]="true"
                [severity]="getTagStatus(postags.status)"
               />
               </td>
              <td>{{ postags.iDTag }}</td>
              <td>{{ postags.descricao }}</td>
              <td>{{ postags.categoria }}</td>
              <td>{{ postags.vigencia }}</td>
              <td>
                <p-tag
                  [value]="postags.Diasvigencia"
                  [rounded]="true"
                  [severity]="getTagVigencia(postags.Diasvigencia)"
                 />
              </td>
              <td>{{ postags.created_at}}</td>
              <td>{{ postags.updated_at}}</td>

              <td>
                <p-button

                    icon="pi pi-info-circle"
                    class="mr-2"
                    [rounded]="true"
                    [outlined]="true"
                    severity="info"
                    (onClick)="btnViewer(postags.iDTag)"
                     />
              </td>

              <td>
                <p-button

                    icon="pi pi-pencil"
                    class="mr-2"
                    [rounded]="true"
                    [outlined]="true"
                    severity="success"
                    (onClick)="btnEdit(postags.iDTag)"
                     />
              </td>
              <td>
                <p-button

                    icon="pi pi-trash"
                    severity="danger"
                    [rounded]="true"
                    [outlined]="true"
                    (onClick)="btnDelete(postags.iDTag)"
                     />
              </td>
          </tr>
      </ng-template>

      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          Total de {{ postags ? postags.length : 0 }} registros.
        </div>
    </ng-template>

    </p-table>
  </div>

  <p-dialog
        [(visible)]="tagDialog"
        [style]="{ width: '450px' }"
        [header]="this.operacaoMode ==='v' ? 'VISUALIZAR' : this.operacaoMode === 'i' ? 'NOVO' : this.operacaoMode === 'e' ? 'EDITAR' : 'operacao invalida !'"
        [modal]="true"
        styleClass="p-fluid">
            <ng-template pTemplate="content">

              <p-card styleClass="formulario" class="flex justify-content-center" [ngClass]="{'disabled-card': isDisabled}">

                <form [formGroup]="registroCorrente" novalidate>

                  <td>
                    <img
                        [src]="'https://th.bing.com/th/id/OIP.pQyIgeAD4YQWnAZNYAr0tgHaGs?rs=1&pid=ImgDetMain'"
                        width="50"
                        class="shadow-4" />
                  </td>

                  <div class="field">
                    <label for="descricao" class="block">Descrição do Serviço</label>
                    <input type="text" pInputText
                      placeholder="Desrição do Serviço"
                      id="descricao"
                      name="descricao"
                      formControlName="descricao" required
                      />
                      <!--[readonly]="this.operacaoMode ==='v' ? 'true' : 'false'"-->
                     <small class="p-error block" *ngIf=" registroCorrente.get('descricao')?.invalid && registroCorrente.get('descricao')?.dirty">
                     Preenchimento Obrigatório.</small>
                  </div>

                  <div class="field">
                    <label for="categoria" class="block">Categoria</label>
                    <span class="ui-float-label">
                    <p-dropdown [options]="optCategoria"
                      placeholder="Categoria do Serviço"
                      id="categoria"
                      name="categoria"
                      formControlName="categoria"
                      [style]="{'width':'100%'}" [required]="true"></p-dropdown>
                      <small class="p-error block" *ngIf=" registroCorrente.get('categoria')?.invalid && registroCorrente.get('categoria')?.dirty">
                        Preenchimento Obrigatório.</small>
                    </span>

                  </div>

                  <div class="field">
                    <label for="infor" class="block">Informações</label>
                    <textarea type="textarea" [rows]="10" [cols]="50" pInputTextarea
                      placeholder="Detalhes do Serviço"
                      id="infor"
                      name="infor"
                      (reset)="false"
                      formControlName="infor" required
                      ></textarea>
                    <small class="p-error block" *ngIf=" registroCorrente.get('infor')?.invalid && registroCorrente.get('infor')?.dirty">
                      Preenchimento Obrigatório.</small>
                  </div>

                  <div class="field">
                    <span class="ui-float-label">
                    <p-calendar
                      id="vigencia"
                      name="vigencia"
                      formControlName="vigencia"
                      [showIcon]="true"
                      [minDate]="minDate" />
                      <!-- [disabled]="this.operacaoMode ==='v' ? true : false"-->
                    <label for="vigencica">Vigência</label>
                    </span>
                  </div>

                  <div class="field">
                    <label for="categoria" class="block">Status</label>
                    <span class="ui-float-label">
                    <p-dropdown [options]="optStatus"
                      placeholder="Status do Serviço"
                      id="status"
                      name="status"
                      formControlName="status"
                      [style]="{'width':'100%'}" [required]="true"></p-dropdown>
                    </span>
                  </div>

                </form>

              </p-card>

            </ng-template>

            <ng-template pTemplate="footer">
              <p-button
                  label="Cancelar"
                  icon="pi pi-times"
                  [text]="true"
                  (onClick)="hideDialog()" />
              <p-button
                  label="Confirmar"
                  icon="pi pi-check"
                  [text]="true"
                  (onClick)="btnConfirmar()" />
            </ng-template>

  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }">



