/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

/* Temas */
@import "primeng/resources/themes/bootstrap4-light-blue/theme.css";
@import "primeng/resources/themes/bootstrap4-dark-blue/theme.css";
@import "primeng/resources/themes/bootstrap4-dark-purple/theme.css";
@import "primeng/resources/themes/md-light-indigo/theme.css";
@import "primeng/resources/themes/md-light-deeppurple/theme.css";
@import "primeng/resources/themes/md-dark-indigo/theme.css";
@import "primeng/resources/themes/md-dark-deeppurple/theme.css";
@import "primeng/resources/themes/mdc-light-indigo/theme.css";
@import "primeng/resources/themes/mdc-light-deeppurple/theme.css";
@import "primeng/resources/themes/mdc-dark-indigo/theme.css";
@import "primeng/resources/themes/mdc-dark-deeppurple/theme.css";
@import "primeng/resources/themes/fluent-light/theme.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/themes/lara-light-indigo/theme.css";
@import "primeng/resources/themes/lara-light-purple/theme.css";
@import "primeng/resources/themes/lara-light-teal/theme.css";
@import "primeng/resources/themes/lara-dark-blue/theme.css";
@import "primeng/resources/themes/lara-dark-indigo/theme.css";
@import "primeng/resources/themes/lara-dark-purple/theme.css";
@import "primeng/resources/themes/lara-dark-teal/theme.css";
@import "primeng/resources/themes/soho-light/theme.css";
@import "primeng/resources/themes/soho-dark/theme.css";
@import "primeng/resources/themes/viva-light/theme.css";
@import "primeng/resources/themes/viva-dark/theme.css";
@import "primeng/resources/themes/mira/theme.css";
@import "primeng/resources/themes/nano/theme.css";
@import "primeng/resources/themes/saga-blue/theme.css";
@import "primeng/resources/themes/saga-green/theme.css";
@import "primeng/resources/themes/saga-orange/theme.css";
@import "primeng/resources/themes/saga-purple/theme.css";
@import "primeng/resources/themes/vela-blue/theme.css";
@import "primeng/resources/themes/vela-green/theme.css";
@import "primeng/resources/themes/vela-orange/theme.css";
@import "primeng/resources/themes/vela-purple/theme.css";
@import "primeng/resources/themes/arya-blue/theme.css";
@import "primeng/resources/themes/arya-green/theme.css";
@import "primeng/resources/themes/arya-orange/theme.css";
@import "primeng/resources/themes/arya-purple/theme.css";
@import "primeng/resources/themes/nova/theme.css";
@import "primeng/resources/themes/nova-alt/theme.css";
@import "primeng/resources/themes/nova-accent/theme.css";
@import "primeng/resources/themes/luna-amber/theme.css";
@import "primeng/resources/themes/luna-blue/theme.css";
@import "primeng/resources/themes/luna-green/theme.css";
@import "primeng/resources/themes/luna-pink/theme.css";
@import "primeng/resources/themes/rhea/theme.css";


.container{
  padding-top: 70px;
  text-align: center;
}

html {
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.titulo{
  text-align: center;
  margin-bottom: 10px;
}

.temas {
  text-align: end;
  margin-bottom: 10px;
}


.card-R {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: var(--surface-card);
  padding: 0rem;
  border-radius: 10px;
  //margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  .card-Rx {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: var(--surface-card);
    padding: 0.1rem;
    //margin-bottom: 1rem;
    text-align: center;
  }


}

.card-C {
  //background: var(--surface-card);
  background: #7c94a4;
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

